<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>km7dev.quests_in_pause_menu/chest.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-6}</string>
			<key>spriteSize</key>
			<string>{181,187}</string>
			<key>spriteSourceSize</key>
			<string>{201,209}</string>
			<key>textureRect</key>
			<string>{{0,0},{181,187}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>km7dev.quests_in_pause_menu/quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{179,186}</string>
			<key>spriteSourceSize</key>
			<string>{201,209}</string>
			<key>textureRect</key>
			<string>{{0,183},{179,186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>km7dev.quests_in_pause_menu/km7QuestSheet-uhd.png</string>
		<key>size</key>
		<string>{187,362}</string>
		<key>textureFileName</key>
		<string>km7dev.quests_in_pause_menu/km7QuestSheet-uhd.png</string>
	</dict>
</dict>
</plist>